datasets==2.0.0
transformers==4.17.0
neleval==3.1.1
numpy==1.22.3
scispacy
pytorch-metric-learning==0.9.98.dev1
wandb==0.12.16
hydra-core==1.1.1
protobuf==3.20.0
seqeval==1.2.2
ipywidgets
matplotlib==3.5.1
sentencepiece==0.1.96